.App {
  text-align: center;

}

.simon {
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.test {
  /* border-style: solid;
  border-width: medium;
  border-color: black; */
}

.topHalf {
  width: 100%;
  height: 50%;
}

.div1 {
  background-color: green;
  width: 50%;
  height: 100%;
  float: left;
  border-style: solid;
  border-width: 0.5em;
  border-color: #333333;
}

.div2 {
  background-color: red;
  width: 50%;
  height: 100%;
  float: right;
  border-style: solid;
  border-width: 0.5em;
  border-color: #333333;
}

.lowerHalf {
  width: 100%;
  height: 50%;
}

.div3 {
  background-color: yellow;
  width: 50%;
  height: 100%;
  float: left;
  border-style: solid;
  border-width: 0.5em;
  border-color: #333333;
}

.div4 {
  background-color: blue;
  width: 50%;
  height: 100%;
  float: right;
  border-style: solid;
  border-width: 0.5em;
  border-color: #333333;
}

.simonUnit {
  /* margin: auto; */
  width: 30em;
  height: 30em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 1.5em;
  border-color: #333333;
  border-radius: 20em;
  overflow: hidden;
}

.center {
  position: absolute;
  width: 15em;
  height: 15em;
  border-style: solid;
  border-width: 1em;
  border-color: #333333;
  border-radius: 20em;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ECE7EE;
}

.title {
  font-size: 3em;
  margin: 0.5em;
}

.divsContainer {
  height: 40em;
  width: 40em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 1.75em;
  border-color: #333333;
  border-radius: 20em;
}

.signup {
  position: absolute;
  width: 20em;
  height: 20em;
  border-style: solid;
  border-width: 1em;
  border-color: #333333;
  border-radius: 20em;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ECE7EE;
}

.form {
  margin: 1em;
  margin-top: 2.5em;
  /* height: 10em; */
  /* margin: auto; */
  /* width: 100%;
  clear: both; */
}

.inputEmail {
  margin-left: 1.95em;
  /* width: 50%; */
  /* clear: both; */
}
